extends layout

block content
    h1 Lista de Músicas
    h2 29 de Março de 2022
    table
        tr
            th ID
            th Título
            th Provinvia
            th Local
        each m in musicas
            tr 
                td
                    a(href="/musicas/"+m.id)= m.id
                td= m.tit
                td
                    a(href="/musicas/prov/"+m.prov)= m.prov
                td= m.local
            tr